# Environment Variables & Keys
.env
*.pem


# Python Cache
__pycache__/
services/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Project Specific Caches (Data Hasil Scan Privasi)
cache/
ignored_domains.txt
main.py
app-v0.py
app-v1.py
privacy-auditor.zip
services/phone_scanner.py
services/scanner.py
services/ai_agent-v0.py
services/ai_agent-v1.py
services/breach_scanner-v0.py
*.json