# Environment Variables & Keys
.env
.cache_key
*.pem

# Python Cache
__pycache__/
services/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Project Specific Caches (Data Hasil Scan Privasi)
cache/
ignored_domains.txt
main.py
services/phone_scanner.py
services/scanner.py
*.json
*-v*.py
*.zip
